*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.cont{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   
    
}

.a{
    height: 800px;
    width: 900px;
    margin-top: 100px ;
    margin-bottom: 40px;
    background-color: rgb(221, 235, 250);
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 25px;
}

.b{
    width: 700px;
    height: 400px;
    background-color: rgb(136, 190, 248);
    margin-top: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    
}

.t1{
    font-size: 30px;
    margin-top: 50px;
}

.t2{
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 25px;
}

.start{
    width: 300px;
    height: 80px;
    background-color: rgb(164, 205, 249);
   margin-top: 250px;
   border: 1px solid rgb(26, 47, 104);
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(26, 47, 104);
    border-radius: 10px;

  
}

.container{
    width: 100%;
    height: auto;
    background: rgb(6, 6, 35);
    display: flex;
    justify-content: space-between;
   position: absolute;
}

.logo{
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    margin-left:57px ;
    font-size: 40px;
    font-weight: 700;
    
}

.ok{
    margin-top: 0px;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}



.htoto{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opr{
    height: 2200px;
    width: 900px;
    background-color: rgb(221, 235, 250);
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    margin-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.x{
    font-size: 30px;
   margin-top: 100px;
}
.x:first-child{
    margin-top: 150px;
}

.bl-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bl{
    height: 40px;
    width: 40px;
    background-color: rgb(100, 149, 202);
    margin-top: 20px;
    margin-right: 15px;
}

.c{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.knop{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 235, 250);
    margin-top: 1400px;
    border: 1px solid black;
    border-radius: 25px;
}

.end{
    width: 300px;
    height: 80px;
    background-color: rgb(164, 205, 249);
   border: 1px solid rgb(26, 47, 104);
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(26, 47, 104);
    border-radius: 10px;
}